*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
text-decoration: none;
display: block;
color: transparent;
}
a:hover{
color:inherit;
}

.App{
  background-color: rgb(30, 23, 48);
  height: 100vh;
  color:rgba(210, 184, 255, 0.755);
}